<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HTML Form</title>
    <meta name="description" content="html form">
    <meta name="author" content="form">
    <link rel="stylesheet" href="">
</head>
<body>
    <p>
        Your package weighs: <%= weight %> oz <br>
        You selected: <%= mailtype %> <br>
        Your total cost is: $<%= cost %>
    </p>
</body>
</html>