<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Thee Quote App</title>
    <meta name="description" content="quote app home page">
    <meta name="author" content="alexandra derby">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>
        <h1>Thee Quote App</h1>
        <nav>
            <ul>
                <li class="link_font"><a href="/">Generate Quotes</a></li> | 
                <li class="link_font"><a href="login">Account Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <p><%= quote %><br>
                - <%= author %>
            </p>
            <br>
            <a class="button_link" href="/generate">Generate</a>
        </div>
    </main>
    <footer>
        <p>&copy; 2020 | Alexandra Derby | Canada | BYU Idaho Online Learning</p>
    </footer>
</body>
</html>