<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Thee Quote App</title>
    <meta name="description" content="save quote page">
    <meta name="author" content="alexandra derby">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>
        <h1>Thee Quote App</h1>
        <nav>
            <ul>
                <li class="link_font"><a href="account">Generate Quotes</a></li> | 
                <li class="link_font"><a href="view">Saved Quotes</a></li> |
                <li class="link_font"><a href="/">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <p>Choose the category you wish to save your quote into:</p>
            <br>
            <a class="button_link" href="#">Funny</a>
            <a class="button_link" href="#">Inspirational</a>
            <a class="button_link" href="#">Spiritual</a>
            <a class="button_link" href="#">Famous</a>
            <a class="button_link" href="#">Other</a>
        </div>
        <br>
    </main>
    <footer>
        <p>&copy; 2020 | Alexandra Derby | Canada | <a href="http://www.byui.edu/online">BYU Idaho Online Learning</a></p>
    </footer>
</body>
</html>