<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Thee Quote App</title>
    <meta name="description" content="quote app login page">
    <meta name="author" content="alexandra derby">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header>
        <h1>Thee Quote App</h1>
        <nav>
            <ul>
                <li class="link_font"><a href="/">Generate Quotes</a></li> | 
                <li class="link_font"><a href="login">Account Login</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <p id="success_message">Success! Your account has been created. Please click the button below to log into your account.</p><br>
        <a class="button_link" href="login">Login</a>
    </main>
    <footer>
        <p>&copy; 2020 | Alexandra Derby | Canada | <a href="http://www.byui.edu/online">BYU Idaho Online Learning</a></p>
    </footer>
</body>
</html>