<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Thee Quote App</title>
    <meta name="description" content="user account home page">
    <meta name="author" content="alexandra derby">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>
        <h1>Thee Quote App</h1>
        <nav>
            <ul>
                <li class="link_font"><a href="generate">Generate Quotes</a></li> | 
                <li class="link_font"><a href="view">Saved Quotes</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <p>Saved quotes and their categories go here...</p>
            <br>
        </div>
    </main>
    <footer>
        <p>&copy; 2020 | Alexandra Derby | Canada | <a href="http://www.byui.edu/online">BYU Idaho Online Learning</a></p>
    </footer>
</body>
</html>